{% extends 'base.html' %}

{% block title %} Edit tags {% endblock %}

{% block content %}

<h1>Edit a tag</h1>

<form method="POST" action="/tags/{{tag.id}}/edit">
    <label>Name</label>
    <input type="text" name="name" value="{{tag.name}}">

    <br>
    {% for post in posts %}
    <div>
      <input type="checkbox"
              value="{{ post.id }}"
              id="post_{{ post.id }}"
              name="posts"
              {% if post in tag.posts %}
              checked
              {% endif %}
      >
      <label for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    </div>
    {% endfor %}

    <br>
    <a href="/tags">Cancel</a>
    <button type="submit">Edit</button>
</form>

{% endblock %}